<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floating Element</title>
    <style>
        .tweet {
            border: 3px solid lightgray;
        }

        .avatar {
            width: 10rem;
            height: 10rem;
            background-color: red;
            border-radius: 50%;
            float: left;
            margin-right: 30px;
            margin-bottom: 20px;
            border: 2px solid green;
        }

        .paragraph {
            clear: left;

        }
    </style>
</head>

<body>
    <article class="tweet">
        <div class="avatar">

        </div>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nobis dicta vitae velit inventore id
        reiciendis. Quasi vel, sint consequuntur aperiam architecto, saepe fuga nemo a cum cumque, reprehenderit labore!

        <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit praesentium quam dolorum ratione illum
            officia
            culpa vero pariatur, dolores necessitatibus ipsam impedit natus consequatur quis aperiam voluptatum nisi
            officiis corporis.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia harum facilis laudantium similique
            repellat
            dolore possimus inventore impedit, eum provident suscipit incidunt iure sapiente a voluptate repellendus
            tenetur
            nemo natus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, similique voluptatum blanditiis quas rerum
            eligendi voluptatibus. Nemo iusto, similique odio, quisquam, deleniti doloremque nam blanditiis commodi
            maiores
            laudantium doloribus dolorem esse a eveniet aliquam necessitatibus repellat. Praesentium, dignissimos
            distinctio. Autem nisi fuga, esse consectetur id fugiat quasi laborum reiciendis veniam veritatis facere
            dolore
            voluptatem sapiente corporis vero corrupti odit hic impedit maiores rerum error soluta dolores distinctio
            commodi? Expedita mollitia voluptatum officiis laborum in cupiditate ipsa cum. Dolor natus, rem ullam, quo

        </p>
        <span>hi</span>
        <p>Lorem ipsum dolor sit.</p>
    </article>
</body>

</html>